.profile {
  margin: 5%;
}
.pro {
  /* flexbox */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: black;
  background-color: rgba(147, 193, 240, 0.85);
  /* box model */
  margin: 2% 30%;
  padding: 3%;
  width: 33%;
}
.pro button {
  width: 10%;
}
.pro img {
  box-shadow: 10px 10px 90px -20px black;
  border-radius: 10px;
}
